body{
  font-family: Kumbh Sans;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.nav {
  width: 99%; 
  padding-top: 21px; 
  padding-bottom: 21px;
  background: rgba(255, 255, 255, 0.50); 
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.15); 
  backdrop-filter: blur(20px); 
  justify-content: center; 
  align-items: center; 
  gap: 384px; 
  display: inline-flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.left-sec {
  width: 100%; 
  height: 100%; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 3.11px; 
  display: inline-flex;
  margin-left: 2%;
}

.logo {
  width: 54.96px;
  height: 62.102px;
}

.CSKDU {
  width: 100%; 
  height: 100%; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

.KDU {
  color: black; 
  font-size: 13.35px; 
  font-family: Inter; 
  font-weight: 700; 
  text-transform: uppercase; 
  line-height: 20.03px; 
  word-wrap: break-word
}
.CS {
  color: black; 
  font-size: 15.84px; 
  font-family: Kumbh Sans; 
  font-weight: 300; 
  text-transform: uppercase; 
  line-height: 23.75px; 
  word-wrap: break-word
}

.right-sec{
  width: 100%; 
  height: 100%; 
  padding: 10px; 
  justify-content: center; 
  align-items: center; 
  gap: 50px; 
  display: inline-flex;
  margin-right: -5%;
}

.options{
  color: black; 
  font-size: 20px; 
  font-family: Kumbh Sans; 
  font-weight: 600; 
  text-transform: capitalize; 
  line-height: 30px; 
  word-wrap: break-word;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.options:hover {opacity: 0.7;}


.search-icon{
  width: 16.80px; 
  height: 16.80px;
  transition: 0.3s;
  cursor: pointer;
}
.search-icon:hover{opacity: 0.7;}

.degree-title {
  color: black;
  font-size: 60px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 90px;
  margin-top: 10%;
  text-align: center;
}

.styled-div {
  width: 1850px;
  height: 0px;
  border: 1px solid #666666;
  margin-left: 5%;
}

.degree-container {
  width: 1850px;
  display: flex;
  flex-direction: row;
  gap: 170px;
  margin-top: 5%;
  margin-left: 8%;
}

.degree-description {
  width: 50%;
  text-align: justify;
  color: black;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
}

.image-container {
  width: 50%;
  height: 55%;

}

.gradient-image {
  width: 50%;
  height: 55%;
  background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%);
}

.styled-container {
  width: 10%;
  height: 2%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  background: #1E12A8;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  margin-left: 8%;
  margin-top: 5%;
  transition: 0.3s;
  cursor: pointer;
}
.styled-container:hover{background-color: rgb(0, 0, 0);}


.text-content {
  color: white;
  font-size: 21px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 31.50px;
  word-wrap: break-word;
}


.footer-container {
  height: 100%;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 79px;
  padding-right: 200px;
  background: #363636;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20%;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 165px;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.text-section {
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 28.50px;
  word-wrap: break-word;
}

.title {
  color: white;
  font-size: 19px;
  font-weight: 600;
  line-height: 28.50px;
  word-wrap: break-word;
}

.department {
  color: white;
  font-size: 19px;
  font-weight: 400;
  line-height: 28.50px;
  word-wrap: break-word;
}

.copyright {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 68px;
}

