body{
  font-family: Kumbh Sans;
  background-color: black;
  width: 1920px;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.nav {
  width: 99%;  
  padding-top: 21px; 
  padding-bottom: 21px;
  background: black; 
  box-shadow: 0px 9px 45px -14px rgba(0, 0, 0, 0.15); 
  backdrop-filter: blur(20px); 
  justify-content: center; 
  align-items: center; 
  gap: 350px; 
  display: inline-flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.left-sec {
  width: 100%; 
  height: 100%; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 3.11px; 
  display: inline-flex;
  margin-left: 2%;
}

.logo {
  width: 54.96px;
  height: 62.102px;
}

.CSKDU {
  width: 100%; 
  height: 100%; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

.KDU {
  color: white; 
  font-size: 13.35px; 
  font-family: Inter; 
  font-weight: 700; 
  text-transform: uppercase; 
  line-height: 20.03px; 
  word-wrap: break-word
}
.CS {
  color: white; 
  font-size: 15.84px; 
  font-family: Kumbh Sans; 
  font-weight: 300; 
  text-transform: uppercase; 
  line-height: 23.75px; 
}

.right-sec{
  width: 100%; 
  height: 100%; 
  padding: 10px; 
  justify-content: center; 
  align-items: center; 
  gap: 50px; 
  display: inline-flex;
}

.options{
  color: white; 
  font-size: 20px; 
  font-family: Kumbh Sans; 
  font-weight: 600; 
  text-transform: capitalize; 
  line-height: 30px; 
  word-wrap: break-word;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.options:hover {opacity: 0.7;}


.search-icon{
  width: 16.80px; 
  height: 16.80px;
  transition: 0.3s;
  cursor: pointer;
}
.search-icon:hover{opacity: 0.7;}

.contact-title {
  color: white;
  font-size: 60px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 90px;
  margin-top: 8%;
  margin-left: 5%;

}

.styled-div {
  width: 1350px;
  border: 1px solid #666666;
  margin-left: 5%;
}

.contact-container {
  width: 100%;
  height: 100%;
  padding-left: 90px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 264px;
  display: inline-flex;
  margin-top: 3%;
}

.left-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: inline-flex;
}

.university-info {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.university-name {
  color: white;
  font-size: 45px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 67.50px;
  word-wrap: break-word;
  margin-top: 2%;
}

.department {
  color: #6F6F6F;
  font-size: 26px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  line-height: 30.68px;
  word-wrap: break-word;
  margin-top: 2%;
}

.address {
  align-self: stretch;
  color: white;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 1%;
}

.phone-info,
.email-info {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-top: 2%;
}

.phone-label,
.email-label {
  color: white;
  font-size: 45px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 67.50px;
  word-wrap: break-word;
  margin-top: 1%;
}

.phone-number,
.email-address {
  color: white;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 1%;
  margin-bottom: 2%;
}

.right-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 45px;
  display: inline-flex;
}

.admissions-info {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.admissions-title {
  color: white;
  font-size: 45px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 67.50px;
  word-wrap: break-word;
  margin-top: 5%;
}

.admissions-description {
  width: 384px;
  color: white;
  margin-top: 2%;
}

.admissions-email {
  color: white;
  font-size: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  line-height: 30px;
  word-wrap: break-word;
  margin-top: 2%;
}

